body{
    background-color: #EEFF66;
    width: 40vw;
    margin: auto;
    color: #000066;
    font-family: Monotype Corsiva;
}
.nagycim{
    text-align: center;
}
.het{
    display: flex;
    justify-content: space-between;
}
.vonal{
    background-color: red;
    height: 2px;
    margin: 3px -2px 3px -2px;
}